@import url(https://fonts.bunny.net/css?family=lexend:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.bunny.net/css?family=pacifico:400&display=swap);
@import url(https://fonts.bunny.net/css?family=comforter:400&display=swap);

body {
  font-family: "Lexend", serif;
  @apply m-0 overflow-x-hidden antialiased;
}

//html {
//  @apply scrollbar-thumb-primary scrollbar-track-primary/25,
//}

@import "./tailwind.scss";
@import "./_colors.scss";

@import "@left4code/tw-starter/dist/css/mixins/_media.css";

@import "@left4code/tw-starter/dist/css/_breadcrumb.css";
@import "@left4code/tw-starter/dist/css/_accordion.css";
@import "@left4code/tw-starter/dist/css/_alert.css";
@import "@left4code/tw-starter/dist/css/_btn.css";
@import "@left4code/tw-starter/dist/css/_dropdown.css";
@import "@left4code/tw-starter/dist/css/_file.css";
@import "@left4code/tw-starter/dist/css/_form-reset.css";
@import "@left4code/tw-starter/dist/css/_form-check.css";
@import "@left4code/tw-starter/dist/css/_form-control.css";
@import "@left4code/tw-starter/dist/css/_form-help.css";
@import "@left4code/tw-starter/dist/css/_form-inline.css";
@import "@left4code/tw-starter/dist/css/_form-label.css";
@import "@left4code/tw-starter/dist/css/_form-select.css";
@import "@left4code/tw-starter/dist/css/_image-fit.css";
@import "@left4code/tw-starter/dist/css/_input-group.css";
@import "@left4code/tw-starter/dist/css/_intro.css";
@import "@left4code/tw-starter/dist/css/_modal.css";
@import "@left4code/tw-starter/dist/css/_pagination.css";
@import "@left4code/tw-starter/dist/css/_progress.css";
@import "@left4code/tw-starter/dist/css/_scrollbar.css";
@import "@left4code/tw-starter/dist/css/_tab.css";
@import "@left4code/tw-starter/dist/css/_table.css";
@import "@left4code/tw-starter/dist/css/_typing-dots.css";
@import "@left4code/tw-starter/dist/css/_zoom-in.css";
@import "@left4code/tw-starter/dist/css/_box.css";
@import '@vuepic/vue-datepicker/dist/main.css';

@import "./components/_global.css";
@import "./components/_wrapper.css";
@import "./components/_top-bar.css";
@import "./components/_box.css";
@import "./components/_tab.css";
@import "./components/_dropdown.css";
@import "./components/_table-report.css";
@import "./components/_search.css";
@import "./components/_notification.css";
@import "./components/_report-box.css";
@import "./components/_report-box-2.css";
@import "./components/_daily-report.css";
@import "./components/_content.css";
@import "./components/_side-nav.css";
@import "./components/_breadcrumb.css";
@import "./components/_lucide-icon.css";
@import "./components/_inbox.css";
@import "./components/_chat-dropdown.css";
@import "./components/_pricing-tabs.css";
@import "./components/_error-page.css";
@import "./components/_search-result.css";
@import "./components/_notification-content.css";
@import "./components/_litepicker.css";
@import "./components/_tiny-slider.css";
@import "./components/_tabulator.css";
@import "./components/_ckeditor.css";
@import "./components/_zoom-vanilla.css";
@import "./components/_dark-mode-switcher.css";
@import "./components/_hljs.css";
@import "./components/_source-preview.css";
@import "./components/_full-calendar.css";
@import "./components/_pristine.css";
@import "./components/_file.css";

.page-container {
  @apply relative rounded-t-2xl bg-gradient-to-b from-white via-white to-slate-100 dark:from-slate-900 dark:via-slate-950 dark:to-slate-950 -mt-24 max-w-7xl p-5 xl:mx-auto;
}
.btn-success {
  @apply text-white;
}
.form-checkbox-input {
  @apply transition-all duration-100 ease-in-out shadow-sm border-slate-200 cursor-pointer rounded focus:ring-4 focus:ring-offset-0 focus:ring-primary focus:ring-opacity-20 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&[type='radio']]:checked:bg-primary [&[type='radio']]:checked:border-primary [&[type='radio']]:checked:border-opacity-10 [&[type='checkbox']]:checked:bg-primary [&[type='checkbox']]:checked:border-primary [&[type='checkbox']]:checked:border-opacity-10 [&:disabled:not(:checked)]:bg-slate-100 [&:disabled:not(:checked)]:cursor-not-allowed [&:disabled:not(:checked)]:dark:bg-darkmode-800/50 [&:disabled:checked]:opacity-70 [&:disabled:checked]:cursor-not-allowed [&:disabled:checked]:dark:bg-darkmode-800/50 w-[44px] h-[24px] p-px rounded-full relative before:w-[20px] before:h-[20px] before:shadow-[1px_1px_3px_rgba(0,0,0,0.25)] before:transition-[margin-left] before:duration-200 before:ease-in-out before:absolute before:inset-y-0 before:my-auto before:rounded-full before:dark:bg-darkmode-600 checked:bg-primary checked:border-primary checked:bg-none before:checked:ml-[14px] before:checked:bg-white w-[38px] h-[24px] p-px rounded-full relative before:w-[20px] before:h-[20px] before:shadow-[1px_1px_3px_rgba(0,0,0,0.25)] before:transition-[margin-left] before:duration-200 before:ease-in-out before:absolute before:inset-y-0 before:my-auto before:rounded-full before:dark:bg-darkmode-600 checked:bg-primary checked:border-primary checked:bg-none before:checked:ml-[14px] before:checked:bg-white
}

.auth-page-container {
  @apply relative rounded-t-2xl bg-gradient-to-b from-white/75  to-transparent dark:from-slate-900/75 dark:to-transparent max-w-7xl p-5 xl:mx-auto;
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.mini-box {
  @apply relative rounded-2xl bg-primary shadow-sm dark:bg-slate-900 dark:shadow-md;
}

.data-box {
  @apply relative rounded-2xl bg-white dark:bg-slate-900 shadow-sm rounded-lg border border-slate-200/75 duration-300 ease-in-out hover:scale-105 dark:border-slate-900;
}
.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}
.divider-fill {
  @apply fill-white dark:fill-slate-900
}
.divider-fill-alt {
  @apply fill-slate-100 dark:fill-slate-950
}
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-label {
  @apply text-sm font-medium
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.swiper-pagination .swiper-pagination-bullet  {
  @apply bg-white opacity-25
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-primary opacity-100
}

.app-box {
  @apply mt-3 rounded-xl p-5 box bg-opacity-75 dark:bg-opacity-15 shadow-none text-sm
}

.dp__input {
  @apply form-control form-control-rounded dark:text-white text-slate-600 font-medium
}
.dp__range_start{
  @apply rounded-l-full
}
.dp__range_end {
  @apply rounded-r-full
}
.drag-box {
  @apply p-1 border rounded-xl text-sm font-medium border-dashed
}
.drag-inner-box {
  @apply p-5 border rounded-lg text-sm font-medium dark:bg-slate-800 bg-slate-100
}

.drag-item {
  transform: rotate(5deg);
}
.item-ghost {
  @apply bg-slate-200 dark:bg-slate-900 rounded-full
}
.item-ghost div {
  visibility: hidden;
}

.section-post-title, .section-sub-title {
  @apply text-sm opacity-75 font-medium
}
.section-title {
  @apply mt-0.5 text-2xl font-semibold
}
.section-description {
  @apply text-justify opacity-85
}